{{!-- Home Page  --}}


<div class="grey-half">
  <img src="images/four_paws_4c.png" alt="logo-image" id="logo">
  <h1 class="hp-title">Feed an animal</h1>
  <div class="container">
    <img src="/images/previous-icon.png" class="prev"></img>
    <img src="/images/next-icon.png" class="next"></img>



    <div class="row justify-content-around">

      <div class="slider-container col-12 ">

        {{#each animals}}

        <div class="container">
          <div class="row">
            <div class="col-12">
              <!-- Bootstrap Card -->
              <div class="card">
                <div class="img-container">


                  <img src="{{image}}" alt="animal images" class="animal-img">
                  <h1 class="h1-card"><strong>{{{species}}}</strong></h1>

                  <div class="card-body">


                  </div>
                  <h5 class="card-title">{{{name}}}</h5>
                  <p class="card-text">
                    {{description}}</p>
                </div>
                
                </div>
                

            </div>
            {{!-- <div class="btn-box"> --}}
                  <button onclick="window.location.href = '/{{indentifier}}'" class="btn btn-primary"
                    style="width: 250px; height: 55px; margin-left:26px; font-size: 1.2rem; margin-top: -31.8px; z-index: 2; margin-left: 12.5%;">
                    <strong>Feed
                      {{name}}</strong>
                  </button>
              {{!-- </div> --}}
          
          </div>
        </div>

        {{/each}}

      </div>
    </div>
  </div>